<!-- disabled text input and calendar button -->
<input type="text" [ngModel]="dateString" disabled />
<button type="button" (click)="toggleCalendar()">Pick</button>

<!-- datepicker pop-up -->
<div *ngIf="calendarActive">
    <div>
        <button type="button" (click)="prevMonth()"><<</button>
        {{monthsOfYear[calendar.viewDate.month]}} {{calendar.viewDate.year}}
        <button type="button" (click)="nextMonth()">>></button>
    </div>
    <!-- calendar -->
    <table class="date-picker">
        <thead>
            <th class="date-header" *ngFor="let day of daysOfWeek">{{day}}</th>
        </thead>
        <tbody>
            <tr *ngFor="let week of calendar.dates">
                <td *ngFor="let date of week" 
                    [ngClass]="{'date-cell': true, 'date-current-month': date.currentMonth, 'date-current-day': date.currentDate}"
                    (click)="onDateSelect(date)">
                    {{date.date.day}}
                </td>
            </tr>
        </tbody>
    </table>
</div>